<div class="wrapper">

		<!-- Preloader -->

		<div id="preloader">
			<div id="status">
				<div class="status-mes"><h4>Mark Stone</h4></div>
			</div>
		</div>

		{{partial "navbar"}}


		{{partial "introduction"}}

		{{partial "profile"}}

		{{partial "services"}}

		{{partial "resume"}}

		{{partial "portfolio"}}

		{{partial "contact"}}

		<!-- Footer start -->

		<footer id="footer">

			<div class="container">

				<div class="row">

					<div class="col-md-12">
						<p class="copy">
						</p>
					</div>

				</div><!-- .row -->

			</div><!-- .container -->

		</footer>

		<!-- Footer end -->

	</div><!-- .wrapper -->

{{outlet}}
